body{
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color: #83c5be;
}

.home, .scallops, .lasagna, .cake{
    padding:5px 20px;
    border: 1px solid #006d77;
    margin: 10px;
}

.images{
    text-align: center;
    padding: 20px;
}

.ingredients, .steps{
    padding: 2px;
    margin: 2em auto;
}

.recipe-card{
    background-color: #edf6f9;
    text-align: left;

    width: 50%;
    margin: 3em auto;
    padding: 3em;
    border-radius: 10px;
}